<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myint Mo | Online investment</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <meta name="description" content="Myanmar's online investment">
</head>
<body>
    <div class="head">
        <h1>Myint Mo<span>မြင့်မိုရ်</span></h1>
        <p>Burmest online investment</p>
        <a href="">Register</a>
        <div class="link">
            <a href="article">Article</a>
        </div>
    </div>
    <div class="btn">
        <div class="i">
            <img src="https://wasolearn.com/image/payment/kpay.png" alt="">
            <p>Kpay သီးသန့်</p>
        </div>
        <div class="i">
            <img src="https://i.pinimg.com/originals/37/7f/74/377f748464727317af71c4a8d03ebf7a.png" alt="">
            <p>Refer သီးသန့်</p>
        </div>
        <div class="i">
            <img src="https://cdn-icons-png.flaticon.com/512/3649/3649810.png" alt="">
            <p>အလိမ်ညာမဟုတ်</p>
        </div>
        <div class="i">
            <img src="https://cdn-icons-png.flaticon.com/512/5501/5501360.png" alt="">
            <p>ကော်မရှင်၀င်ငွေ</p>
        </div>
    </div>
    <div class="list">
        <h1>Leaders list</h1>
        <table cellspacing="0">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Balance</th>
                <th>ID</th>
            </tr>
            <%all.forEach((item)=>{%>
                <tr>
                    <td><%=item.name%></td>
                    <td><%=item.phone.slice(0,5)%>******</td>
                    <td><%=item.bill%>Ks</td>
                    <td><a href="u/<%=item.uid%>"><%=item.uid%></a></td>
                </tr>
            <%})%>
        </table>
    </div>
</body>
</html>